
    
	  <div  class="ui top attached teal segment">
	    <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
	      <div class="ui mobile reversed stackable grid">
		<div href="/blog" class="eleven wide column">
		<a href="/blog">   <h3  class="ui header">赤壁赋</h3></a>
		<a href="/blog">  <p class="m-text">歌曰：“桂棹兮兰桨，击空明兮溯流光。渺渺兮予怀，望美人兮天一方。”客有吹洞箫者，倚歌而和之。其声呜呜然，如怨如慕，如泣如诉，余音袅袅，不绝如缕。舞幽壑之潜蛟，泣孤舟之嫠妇...</p></a>
		  <div class="ui stackable grid">
		    <div class="eleven wide column">
		      <div class="ui mini horizontal link list">
			<div class="item">
			  <img src="../static/images/to.jpg" alt="" class="ui avatar image">
			  <div class="content"><a href="/about" class="header">曾洋</a></div>
			</div>
			<div class="item">
			  <i class="calendar icon"></i> 2021-5-28
			</div>
			<div class="item">
			  <i class="eye icon"></i> 2
			</div>
		      </div>
		    </div>
		    
		  </div>
		</div>
    
		<div class="five wide column">
		  <a href="#" target="_blank">
		    <img src="../static/images/1.jpg" alt="" class="ui rounded image">
		  </a>
		</div>
    
	      </div>
	    </div>
	  </div>
    
	  <div class="ui bottom attached segment">
	    <div class="ui middle aligned two column grid">
	      <div class="column">
		<a href="#" class="ui mini teal basic button">上一页</a>
	      </div>
	      <div class="right aligned column">
		<a href="#" class="ui mini teal basic button">下一页</a>
	      </div>
	    </div>
	  </div>
    
	</div>
      </div>