 <!--不用了--> 
  <!--留言区域列表-->
  <div class="ui teal segment">
	<div class="ui threaded comments">
	  <h3 class="ui dividing header">评论</h3>
	  <div class="comment">
	    <a class="avatar">
	      <img src="../static/images/to.jpg">
	    </a>
	    <div class="content">
	      <a class="author">作者</a>
	      <div class="metadata">
	  <span class="date">今天下午5:42</span>
	      </div>
	      <div class="text">
	  多艺术啊
	      </div>
	    </div>
	  </div>
      
	  <div class="comment">
	  <a class="avatar">
	    <img src="../static/images/to.jpg">
	  </a>
	  <div class="content">
	    <a class="author">作者</a>
	    <div class="metadata">
	      <span class="date">今天下午5:42</span>
	    </div>
	    <div class="text">
	      多艺术啊
	    </div>
	  </div>
	      </div>
	 
	</div>
	    </div>
	   
      <div class="ui form">
	<div class="field">
	  <textarea name="content" placeholder="请输入评论信息..."></textarea>
	</div>
	<div class="fields">
	  <div class="field m-mobile-wide m-margin-bottom-small">
	    <div class="ui left icon input">
	      <i class="user icon"></i>
	      <input type="text" name="nickname" placeholder="姓名">
	    </div>
	  </div>
	  <div class="field  m-margin-bottom-small m-mobile-wide">
	    <button class="ui teal button m-mobile-wide"><i class="edit icon"></i>发布</button>
	     
	  </div>
	</div>